<panel>
  <div class="table-responsive">
    <table class="table table-striped m-b-0" *ngIf="leads && leads.rows && leads.rows.length">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Country</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        <th>Campaign</th>
        <th>Affiliate</th>
        <th>Phone Number 2</th>
        <th width="3%"></th>
        <th width="3%"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let lead of leads.rows">
        <td >
          {{lead.id || 'Nan'}}
        </td>
        <td>
          {{lead.name}}
        </td>
        <td >
          {{lead.country}}
        </td>
        <td >
          {{lead.phoneNumber}}
        </td>
        <td >
          {{lead.nationality}}
        </td>
        <td >
          {{lead.email}}
        </td>
        <td >
          {{lead.campaign}}
        </td>
        <td >
          {{lead.affiliate}}
        </td>
        <td >
          {{lead.phoneNumber2}}
        </td>
        <td class="with-btn">
          <a href="" class="btn btn-sm btn-primary width-60 m-r-2">Trader</a>
        </td>
        <td class="with-btn">
          <a href="" class="btn btn-sm btn-primary width-60 m-r-2">Broker</a>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</panel>
